
<header>
    <div class="describe">
        <h3>Dashboard</h3>
        <ul class="breadcrumb">
            <li><a href="../FinalProjectFull/index.html">Home</a></li>
            <li>Dahsboard</li>
        </ul>
    </div>
</header>
<section id="dashboard">
    <div class="container">
        <div class="row d-flex">
            <div class="side-btn col-3 d-flex flex-column gap-4">
                <button class="dashboard" data-filter="side-text-dashboard">Dashboard</button>
                <button class="dashboard" data-filter="side-text-profile">My Profile</button>
                <button class="dashboard" data-filter="side-text-picked">Picked Products</button>
                <button class="dashboard" data-filter="side-text-my-product">My Products</button>
                <button class="dashboard">Logout</button>
            </div>
            <div class="side-text-dashboard group-wrapper d-flex col-9">
                <div class="col-6 mt-2">
                    <div class="sold d-flex flex-column">
                        <div class="sold-header"><h5>My Products</h5></div>
                        <div class="sold-body"><h4>00</h4></div>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="sold d-flex flex-column">
                        <div class="sold-header"><h5>Order Pending</h5></div>
                        <div class="sold-body"><h4>00</h4></div>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="sold d-flex flex-column">
                        <div class="sold-header"><h5>Picked Product</h5></div>
                        <div class="sold-body"><h4>00</h4></div>
                    </div>
                </div>
            </div>
            <div class="side-text-profile group-wrapper col-9 d-none">
                <div class="row">
                    <div class="col-6">
                        <div class="personal-inf d-flex">
                            <div class="pers-img col-4">
                                <img src="../FinalProjectFull/img/bidder-5.avif" />
                            </div>
                            <div class="pers-inf d-flex col-8">
                                <div class="pers-name d-flex">
                                    <p>Lorem</p>
                                    <p>Ipsum</p>
                                </div>
                                <p class="pers-occ">Member</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-wrap">
                    <form action="">
                        <div class="row d-flex">
                            <div class="col-6">
                                <div class="form-inner">
                                    <input type="text" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-inner">
                                    <input type="text" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-inner">
                                    <input type="email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-inner">
                                    <input type="text" placeholder="+994" />
                                </div>
                            </div>
                        </div>
                        <div class="form-button d-flex">
                            <button type="submit" class="update">Update</button>
                            <button type="submit" class="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="side-text-picked group-wrapper col-9 d-none">
                <div class="row">
                    <div class="pend-head d-flex">
                        <div class="pend-title col-4">My Products</div>
                        <div class="add-prod col-4">
                            <button type="submit" class="add-prodct">Add product</button>
                        </div>
                    </div>
                </div>
                <div class="table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Bid Amount(USD)</th>
                                <th>Session Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/bag.avif" alt="" />
                                </td>
                                <td>Loewe</td>
                                <td>Bag</td>
                                <td>27</td>
                                <td>
                                    <div class="cooldown">
                                        <ul data-countdown= 2022-07-22>
                                            <li data-days="00">00</li>
                                            <li data-hours="00">00</li>
                                            <li data-minuts="00">00</li>
                                            <li data-seconds="00">00</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    Pending
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/bag.avif" alt="" />
                                </td>
                                <td>Loewe</td>
                                <td>Bag</td>
                                <td>27</td>
                                <td>
                                    <div class="cooldown">
                                        <ul data-countdown=2022-07-22>
                                            <li data-days="00">00</li>
                                            <li data-hours="00">00</li>
                                            <li data-minuts="00">00</li>
                                            <li data-seconds="00">00</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    Pending
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/bag.avif" alt="" />
                                </td>
                                <td>Loewe</td>
                                <td>Bag</td>
                                <td>27</td>
                                <td>
                                    <div class="cooldown">
                                        <ul data-countdown=2022-07-22>
                                            <li data-days="00">00</li>
                                            <li data-hours="00">00</li>
                                            <li data-minuts="00">00</li>
                                            <li data-seconds="00">00</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    Pending
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/bag.avif" alt="" />
                                </td>
                                <td>Loewe</td>
                                <td>Bag</td>
                                <td>27</td>
                                <td>
                                    <div class="cooldown">
                                        <ul data-countdown=2022-07-22>
                                            <li data-days="00">00</li>
                                            <li data-hours="00">00</li>
                                            <li data-minuts="00">00</li>
                                            <li data-seconds="00">00</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    Pending
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="side-text-my-product group-wrapper col-9 d-none">
                <div class="row">
                    <div class="pend-head d-flex jusify-content-start">
                        <div class="pend-title col-4">Purchase</div>
                    </div>
                </div>
                <div class="table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Category</th>
                                <th>Final Price(AZN)</th>
                                <th>Bidder</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/bag.avif" alt="" />
                                </td>
                                <td>Bag</td>
                                <td>168</td>
                                <td><img src="../FinalProjectFull/img/bidder-1.png" alt=""></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/bag-5.avif" alt="" />
                                </td>
                                <td>Bag</td>
                                <td>190</td>
                                <td><img src="../FinalProjectFull/img/bidder-2.png" alt=""></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/watch-2.avif" alt="" />
                                </td>
                                <td>Watch</td>
                                <td>171</td>
                                <td><img src="../FinalProjectFull/img/bidder-3.png" alt=""></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../FinalProjectFull/img/sneakers-e.avif"
                                         alt="" />
                                </td>
                                <td>Sneakers</td>
                                <td>350</td>
                                <td><img src="../FinalProjectFull/img/bidder-1.png" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="add-prod-modal d-flex d-none">
        <div class="modal-p col-6">
            <form action="">
                <div class="row d-flex">
                    <div class="col-5">
                        <div class="modal-pic">
                            <img src="../FinalProjectFull/img/motorbike-1.png"
                                 class="w-100" />
                            <input type="file" name="" id="update" class="mb-5 d-none" />
                            <label for="update">Choose File</label>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="modal-info d-flex mt-4">
                            <div class="modal-inner col-9 ms-5">
                                <input type="text" placeholder="Product name" />
                            </div>
                            <div class="modal-inner col-9 ms-5">
                                <input type="text" placeholder="Min. price" />
                            </div>
                            <div class="modal-inner col-6 ms-5">
                                <select name="category" id="modal-cate" class="w-100">
                                    <option value="1">Bag</option>
                                    <option value="2">Watch</option>
                                    <option value="3">Jewellery</option>
                                    <option value="4">Electronic</option>
                                    <option value="5">Perfume</option>
                                    <option value="6">Sneakers</option>
                                </select>
                            </div>
                            <div class="modal-inner col-6 ms-5">
                                <label for="session-time">Session Date</label>
                                <input type="date" id="session-time" />
                            </div>
                            <div class="submit-prod col-9 d-flex ms-5">
                                <button type="submit" class="sub-but">
                                    Submit Product
                                </button>
                                <a href="#" class="canc-but close-add-prod-modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <div style="height: 100vh"></div> -->
